.navbar{
	background-color: maroon;
}
.navbar-brand{
	align-items: left;
}
.title{
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
	font-family: cursive;
	font-size: 40px;
	color: whitesmoke;
}

#image{
	width: 100%;
	height: 110%;
	border-radius: 15px;
	border: 1px solid black;
}
#deliveryimg{
	height: 30%;
	width: 50%;
	border: 0.5px solid black;
}
#Deliverybtn{
	padding-left: 20px;
	width: 50%;
	border-radius: 8px;
	border: 1px solid maroon;
	background-color: white;
	color: maroon;
	font-size: 15px;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: 100px;
}
#Deliverybtn:hover{
	border-radius: 8px;
	border: 1px solid gray;
	background-color: white;
	color: black;
	font-size: 15px;
}
#withdrawimg{
	height: 30%;
	width: 50%;
	border: 0.5px solid black;
}
#withdrawbtn{
	width: 50%;
	border-radius: 8px;
	border: 1px solid maroon;
	background-color: white;
	color: maroon;
	font-size: 15px;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: 100px;
}
#withdrawbtn:hover{
	border-radius: 8px;
	border: 1px solid gray;
	background-color: white;
	color: black;
	font-size: 15px;
}


#loginbtn{
	padding-top: 10px;
	font-size: 14px;
	color: white;
	border: .5px solid maroon;
	background-color:maroon;
}
#loginbtn:hover{
	color: grey

}

#popup{
	text-align: left;
	font-size: 14px;
	color: white;
	border: .5px solid maroon;
	background-color:maroon;
}
#popup:hover{
	color: grey

}


#Logout{
	position: relative;
	right: auto;
	border-radius: 8px;
	border: 1px solid maroon;
	background-color: white;
	color: maroon;
	font-size: 15px;
	padding: 5px;
}

#Logout:hover{
	border-radius: 8px;
	border: 1px solid gray;
	background-color: white;
	color: black;
	font-size: 13px;
	padding: 5px;
}
#bgc{
	background-color: #222222;
}
#footerlabel{
	font-family:monospace;
	color: white;
}
#footerpadding{
	padding-top: 200px;
}
#aboutbtn{
	padding-left: 40px;
	border-radius: 8px;
	border: 1px solid #222222;
	background-color: #222222;
	color: white;
	font-size: 15px;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
#aboutbtn:hover{
	color: gray;
}

#contactbtn{
	padding-left: 40px;
	border-radius: 8px;
	border: 1px solid #222222;
	background-color: #222222;
	color: white;
	font-size: 15px;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#contactbtn:hover{
	color: gray;
}
#companyname{
	padding-left: 40px;
	font: arial;
	font-size: 30px;
	color: white;
	background-color: #222222;
	font-family:fantasy;
}
#companyname1{
	padding-left: 20px;
	font: arial;
	font-size: 15px;
	color: white;
	background-color: #222222;
}


#acntInput{
	text-align: center;
	border: 1px solid maroon;
}
#acntInput:hover{
	text-align: center;
	border: 1.8px solid maroon;
}
#acntbtn:hover{
	background-color: white;
	color: maroon;
	border-radius: 4px;
	border: 1px solid maroon;
	padding: 5px;
}
#acntbtn{
	background-color: maroon;
	color: white;
	border-radius: 4px;
	border: 1px solid maroon;
	padding: 5px;
}
.close{
	position: absolute;
	top: 0;
	right: 14px;
	transform: rotate(45deg);
	cursor: pointer;
}

#aboutbg{
	background-color: maroon;
	color:white;
	text-align: center;
	justify-content: center;

}
#contactbg{
	background-color: maroon;
	color:white;
	text-align: center;
	justify-content: center;
}
.line1{
	border-top: 3px solid maroon;
}

.Tooltp{
	border: 1px solid black;

	border-radius: 45px;
}
.Tooltp:hover{
	border: 1px solid black;

	border-radius: 20px;
}