
.bn{
	color: white;
	font-size: 20px;
}
#bgc{
	background-color: #222222;
}

#footerpadding{
	padding-top: 250px;
}
#aboutbtn{
	padding-left: 20px;
	border-radius: 8px;
	border: 1px solid #222222;
	background-color: #222222;
	color: white;
	font-size: 15px;
	font: arial;
}
#aboutbtn:hover{

	color: gray;

}
#contactbtn{
	padding-left: 10px;
	border-radius: 8px;
	border: 1px solid #222222;
	background-color: #222222;
	color: white;
	font-size: 15px;
	font: arial;
}
#contactbtn:hover{

	color: gray;

}
#btn1{
	background-color: white;
	color: white;
	border-radius: 8px;
	border: 1px solid maroon;
	background-color: maroon;
	text-align: center;
}
#btn1:hover{
	background-color: white;
	color: maroon;
	border-radius: 8px;
	border: 1px solid maroon;
	background-color: white;
}
table {
  width:100%;
}

table, th, td {
  border: 1px solid #993333;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
	text-align: center;
}
#t01 tr:nth-child(even) {
  background-color: #f2e6e6;
}
#t01 tr:nth-child(odd) {
 background-color: #e6cccc;
}

#t01 th {
  background-color: maroon;
  color: white;
  text-align:center;
}
#t02 tr:nth-child(even) {
  background-color: #f2e6e6;
}
#t02 tr:nth-child(odd) {
 background-color: #e6cccc;
}

#t02 th {
  background-color: maroon;
  color: white;
  text-align:center;
}
#delete1{
	background-color: maroon;
	color: maroon;
	border-radius: 8px;
	border: 2px solid black;
	background-color: white;
}
#delete1:hover{
	background-color: grey;
	color: white;
	border-radius: 8px;
	border: 1px solid black;
	background-color: grey;
}
.line1{
	border-top: 3px solid maroon;
}
