{% extends 'activities/login.html'%}
{%load static%}

{% block content%}
  <link rel="stylesheet" href="{% static 'css/delivery.css'%}">
</head>

<body>

  <!-- Start your project here--> 
  <header>
      <div class="row cbanner"  >
        <div class="col-md-8" >
           <label  class="Banner "  >Department Of Supply</label>
        </div> 
        <div class="col-md-2 ">
           <label   ></label>
        </div> 
        <div class="col-md-2 ">
           <label  class="bn "  >Delivery</label>
        </div> 
      </div>
  </header><br>
  <main>
    <div class="container">
      <form action="mainpage.html">
        <button id="btn" a>Back</button>
      </form><br><br><br>
      <div class="row "    >
        <div  class="col-md-4 " >
          <label class="label1" id="ITEM" for = "item">ITEM:</label><br>
          <input id="item" class="input1" ><br><br>
          <label  class="label1" id="UNIT" for = "unit">UNIT:</label><br>
          <input id="unit" class="input1" ><br><br>
          <label  class="label1" id="QUAN" for = "unit">QUANTITY:</label><br>
          <input id="quan" class="input1" ><br><br>
          <label  class="label1" id="DES" for = "unit">DESCRIPTION:</label><br>
          <input id="des" class="input1" ><br><br><br>
          <button id="add" >ADD</button>
        </div> 
        <div class="col-md-8 ">
          <table id="t01" class="table1">
              <tr>
                <th>Items</th>
                <th>Description</th>
                <th>Unit</th>
                <th>Quantity</th>
                <th>Remaining</th>
                <th>Date</th>
                <th>Time</th>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr> 
              
          </table>  
              </div> 
            </div>
          </div>
        </div> 
      </div>
    </div>
  </main>

  <!-- End your project here-->
 
  <!-- jQuery -->

  <!-- Your custom scripts (optional) -->
  <script type="text/javascript"></script>
  <script type="text/javascript" src="deliveryjs.js"></script>

</body>
</html>
{% endblock%}