{% extends 'activities/login.html'%}
{%load static%}

{% block content%}
  <link rel="stylesheet" href="{% static 'css/delivery.css'%}">
</head>

<body>

  <!-- Start your project here--> 
  <header>
      <div class="row cbanner"  >
        <div class="col-md-8" >
           <label  class="Banner "  >Department Of Supply</label>
        </div> 
        <div class="col-md-2 ">
           <label   ></label>
        </div> 
        <div class="col-md-2 ">
           <label  class="bn "  >Delivery</label>
        </div> 
      </div>
  </header><br>
  <main>
    <div class="container">
      <form action="mainpage.html">
        <button id="btn" a>Back</button>
      </form><br><br><br>
      <div class="row "    >
        <div  class="col-md-4 " >
          <form action = "" method = "POST">
          {% csrf_token %}
            <label class="item_label1" id="ITEM" for = "item">ITEM:</label><br>
            <input type="text" required autocomplete="off" name = "delivery_item_name"><br><br>
            <label  class="unit_label1" id="UNIT" for = "unit">UNIT:</label><br>
            <input type="text" required autocomplete="off" name = "delivery_unit"><br><br>
            <label  class="quantity_label1" id="QUAN" for = "quantity">QUANTITY:</label><br>
            <input type="text" required autocomplete="off" name = "delivery_quantity"><br><br>
            <label  class="description_label1" id="DES" for = "description">DESCRIPTION:</label><br>
            <input type="text" required autocomplete="off" name = "delivery_description"><br><br><br>
            <button id="add" >ADD</button>
          </form>
        </div> 
        <div class="col-md-8 ">
          <table id="t01" class="table1">
              <tr>
                <th>Items</th>
                <th>Description</th>
                <th>Unit</th>
                <th>Quantity</th>
                <th>Remaining</th>
                <th>Date</th>
                <th>Time</th>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr> 
              
          </table>  
              </div> 
            </div>
          </div>
        </div> 
      </div>
    </div>
  </main>

  <!-- End your project here-->
 
  <!-- jQuery -->

  <!-- Your custom scripts (optional) -->
  <script type="text/javascript"></script>
  <script type="text/javascript" src="deliveryjs.js"></script>

</body>
</html>
{% endblock%}