{% extends 'activities/login.html'%}
{%load static%}

{% block content%}

  <link rel="stylesheet" href="{% static 'css/mainpcss.css'%}">
</head>
<style>
  #Logout{
    font-size: 15px;
	  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	  font-weight: 100px;
  }
  #popup{
    padding-top: 20%;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  #loginbtn{
    padding-right: 20%;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  li{
    padding-right: 80px;
    display: inline;
    float: left;
  }
  a{
    padding: 8px;
    background-color: #dddddd;
  }
</style>

<body>
  <header>
    <nav class="navbar">
          <h2  class="title" >SUPPLY INVENTORY SYSTEM </h2>
          <ul>
            <li> 
              <form action="">
                <a  id="popup"  class="button" data-mdb-toogle="tooltip" title="Change your Username And Password " >Account Setting</a>
              </form>
            </li>
            <li>
              <form action=''>
                <a href="{% url 'Supplydept_status' %}" id="loginbtn" data-mdb-toogle="tooltip" title="Check The record of your data in per Department and  Item ">Status</a> 
              </form>
            </li>
          </ul>    
    </nav>
 
  </header><br>
  <!-- Start your project here-->

  <main>
    <div>
      <label for=""></label>
    </div>
    <div>
      <label for=""></label>
    </div>
    <div class="container">
      <div class="row" >
        <div class="col-md-4" >
          <img src="{%static 'media/delivery.jpeg'%}" alt="" id="deliveryimg" class="img-fluid rounded "><br><br> 
            <form action="{% url 'Supplydept_delivery' %}">
              <button id="Deliverybtn" data-mdb-toogle="tooltip" title="Record your delivered items and supplys "> DELIVERY </button>
            </form> 
            <br><br><br>
            <img src="{%static 'media/withdraw.jpeg'%}" alt="" id="withdrawimg" class="img-fluid rounded "><br><br> 
            <form action="{% url 'Supplydept_withdraw' %}">
              <button id="withdrawbtn" data-mdb-toogle="tooltip" title="Withdraw an items in your supply"> WITHDRAW </button>
            </form> 
        </div>
        <div class="col-md-6" id="padd" >
          <img src="{%static 'media/tupc.jpeg'%}" alt="" id="image" class="img-fluid rounded " width="100%" height="100%"  >   
        </div>
        <div class="col-md-2">
          <form action="{% url 'Supplydept_login' %}">
            <button id="Logout" data-mdb-toogle="tooltip" title="sign out your Account">Log Out</button>
          </form>
        </div>
      </div> 
    </div>  
  </main>
  <footer id="footerpadding"  >
    <div id="bgc" >
      <div class="row">
        <div class="col-md-7" ><br>
          <label id="companyname">A L M</label><br>
          <a href="{% url 'Supplydept_about' %}" id="aboutbtn">About</a><br>
          <a href="{% url 'Supplydept_contact' %}" id="contactbtn">Contact us</a><br><br>
          <label id="companyname1">&#169; 2020 ALM. All Right Reserve</label>
        </div>
        <div class="col-md-5"  ><br>
          <label id="footerlabel">Technological University of the Philippines-Cavite Campus</label>
        </div>
      </div>
    </div>
  </footer>
  <div id="logout-modal" class="bg-modal">
    <div  class="container">
      <div class="row"  >
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <div class="modal-content" >
        <div class="close3">+</div>
        <form >
        <h2  id="aboutbg"  >ARE YOU SURE YOU WANT TO SIGN OUT?</h2><br>
        <input type="button"  onclick="login.html" >YES<br>   
        <input type="button" >NO    
      </div>  
      <div class="col-md-2">
       </div>
    </div>
    </div>
   </div>   
</div>
<div id="myModal" class="bg-modal" >
    <div  class="container">
      <div class="row"  >
      <div class="col-md-2">
        
      </div>
      <div class="col-md-8">
        <div class="modal-content">
        <div class="close"  >+</div >
        <form >
        <h5 id="acntsttng">Account settings</h5><br>
        <h7 >User Name </h7><br>
        <input id="acntInput" type="text" placeholder="Username" ><br><br>
        <h7 >Password</h7><br>
        <input id="acntInput" type="Password" placeholder="Password"  ><br><br>
        <h7 >New User Name</h7><br>
        <input id="acntInput"  placeholder="NewUserName" ><br><br>
        <button id="acntbtn" >Change User Name</button><br><br>
        <h7 >New Password</h7><br>
        <input id="acntInput" type="Password" placeholder="NewPassword" ><br><br>
        <button id="acntbtn" >Change Password</button>
      </form>
      </div>  
      <div class="col-md-2">
      
       </div>
    </div>
    </div>
   </div>   
</div>

  <!-- End your project here-->

  <!-- jQuery -->

  <!-- Your custom scripts (optional) -->
  <script type="text/javascript"></script>
  <script type="text/javascript" src="mainpagejs.js"></script>
  
</body>
</html>
{% endblock%}